.slider-container {
    margin-top: 15%;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: none;
    }
    
    .POP {
    font-size: 50px;
    font-weight: bold;
    }
    
    .card {
    padding: 5px;
    margin-left: 20px;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    }
    
    .card:hover {
    transform: scale(1.05);
    }
    
    .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }
    
    .card-body {
    padding: 20px;
    }
    
    .card-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    .star{
        color: rgb(228, 228, 12);
        font-size: 20px;
        margin-left: 90px;
    }
    
    .card-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    }
    
    .card-text {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 20px;
    font-weight: 20px;
    }
    
    .btn-primary {
    padding-right: 50%;
    background: rgb(61, 17, 218);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    }
    .star{
        color: rgb(228, 228, 12);
        font-size: 20px;
        margin-left: 90px;
        padding-right: 5px;
    }